<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit comment</title>
  </head>
  <body>
    <form action="/comments/<%=foundComment.id%>?_method=PATCH" method="POST">
      <div>
        <label for="username">Username : </label>
        <input
          id="username"
          type="text"
          placeholder="username"
          value="<%= foundComment.username %> "
        />
      </div>
      <div>
        <label for="comment">Comment : </label>
        <textarea name="comment" id="comment" cols="20" rows="10">
<%= foundComment.comment %> </textarea
        >
      </div>
      <button>Submit</button>
    </form>
    <a href="/comments">Cancel</a>
  </body>
</html>
