<%- include('partials/head') %> 
    <form action="/comments" method="POST">
      <div>
        <label for="username">Username : </label>
        <input
          name="username"
          id="username"
          type="text"
          placeholder="username"
        />
      </div>
      <div>
        <label for="comment">Comment : </label>
        <textarea name="comment" id="comment" cols="20" rows="10"></textarea>
      </div>
      <button>Submit</button>
    </form>
    <a href="/comments">Back to home</a>
  </body>
</html>
